*{
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

nav{
  display: flex;
  align-items: center;
  height: 50px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
  padding: 15px 20px;

  
}
.logo_picture{
  height: 100%;
  margin-right: 6px;
}
.header-title{
  font-size: 20px;
  margin-right: auto;
  font-weight: 100;
  font-family: 'Times New Roman', Times, serif;
}
.paragraph{
  font-size: 15px;
}
.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 15px;
}

.form--button{
  grid-column: 1 / -1;
  width: 100%;
  border-radius: 5px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
}
.main{
  margin: 20px;
  border-radius: 5px;

}
.input-text{
  text-indent: 5px;
  border-radius: 5px;
  border: 1px solid gray;
}
.meme-image{
  
  display: flex;
  max-width: 100%;
}